* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

header {
  padding: 0 20px;
  height: 50px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

header a {
  text-decoration: none;
}

#brand {
  width: 224px;
  height: 55px;
  background-image: url("../images/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: #000;
  font-family: caveatReg;
  font-size: 25px;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

#login,
#signup {
  border-radius: 20px;
  padding: 10px 35px;
  background-color: #ffd972;
}

#login {
  color: #000;
}

#signup {
  border: 1px solid cornflowerblue;
  color: cornflowerblue;
}

#hamburger-icon {
  margin: auto 0;
  cursor: pointer;
  display: none;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: cornflowerblue;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg), translate(-6px, 6px);
  transform: rotate(-45deg), translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, 6px);
  transform: rotate(45deg) translate(-6px, 6px);
}

.open .mobile-menu {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: papayawhip;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

.active {
  text-decoration: underline;
}

@media only screen and (max-width: 900px) {
  header nav {
    display: none;
  }
  #hamburger-icon {
    display: block;
  }
}
.home-wrapper {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page-wrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(242, 92, 84, 0.7), rgba(242, 92, 84, 0.7)), url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.circle-wrapper {
  position: relative;
  width: 435px;
  height: 435px;
}

.big-circle {
  position: absolute;
  bottom: 0;
  width: 387px;
  height: 387px;
  border-radius: 50%;
  background-color: #ffd972;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  color: #fff;
}
.big-circle h1 {
  font-family: caveatBold;
  font-size: 24px;
  color: #000;
  margin-bottom: 30px;
}
.big-circle p {
  color: #000;
  font-family: latoReg;
  font-size: 13px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
}

.small-circle {
  position: absolute;
  right: 0;
  width: 168px;
  height: 168px;
  border-radius: 50%;
  background-color: #fcbcb8;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #fff;
  font-family: latoItalic;
  font-size: 10px;
  color: #000;
  padding-left: 60px;
}

@font-face {
  font-family: latoItalic;
  src: url("../fonts/Lato/Lato-Italic.ttf");
}
@font-face {
  font-family: latoReg;
  src: url("../fonts/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: caveatBold;
  src: url("../fonts/Lato/fonts_export/Caveat-Bold.ttf");
}
@font-face {
  font-family: caveatReg;
  src: url("../fonts/Lato/fonts_export/Caveat-Regular.ttf");
}
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .copyRight {
  color: #000;
  font-family: latoItalic;
  font-size: 15px;
  margin-left: 30px;
}
footer .links a {
  text-decoration: none;
  color: #000;
  margin-right: 20px;
  font-family: latoItalic;
  font-size: 15px;
}
footer img {
  width: 19px;
  height: 19px;
  margin-right: 30px;
}
